/* COLOURS */
/* LIGHT GREEN: #47d147 */
/* DARK GREEN: #189800 */
/* BEIGE: #cdc5b4 */
/* DARK GREY: #595959 */
/* LIGHT GREY: #7f7f7f */

/* 
================
    BODY
================
*/

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.0vw;
    background-color: #f6f6f6;
}


/* 
===========================
    REUSABLE COMPONENTS
===========================
*/

/*----- NAVIGATION ----- */

nav {
    text-transform: uppercase;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
    line-height: 0;
}


/* 
================
    HEADER
================
*/

header {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #47d147;
    display: inline-block;
    width: 100%;
    position: relative;

}

header a {
    padding: 0;
    margin: 0;
    line-height: 0;
}

header img {
    display: inline-block;
}


header img {
    margin-left: 15%;
    width: 15%;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;

}

.main-nav {
    margin-right: 5%;
    float: right;
    width: auto;
    position: absolute;
    font-size: 2vw;
    top: 32%;
    margin-left: 35%;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    float: left;

}

.main-nav li {
    padding-right: 8px;
    padding-left: 8px; 
}

.main-nav li:last-child {
    border-right: none;
    padding-right: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s; 
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}

/*
===============
    MAIN
===============
*/

/* ----- TEMPLATE ----- */

.main-part {
    width: 70%;
    margin: 3% auto 10% auto;
}

.main-part a {
    text-decoration: none;
    color: inherit;
}

.main-part article {
    margin-bottom: 5%;
}

.main-part img {
    width: 100%;
    display: block;
}

.main-part figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.news-teaser {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 0 2% 0 1%;
}

.main-article .news-teaser {
    font-size: 200%;
}

.sub-article {
    width: 30%;
    display: inline-block;
}

.sub-article:nth-of-type(2) {
    margin: 0 5% 0 0;
    float: left;
}

.sub-article:last-child {
    float: right;
}

/*------ ARTICLE ----- */

.description {
    background-color: #f0f0f0;
    font-style: italic;
    padding-left: 1%;
}

.ingress,
.article-paragraph {
    width: 60%;
}

.main-article h3 {
    margin: 7% 0 2% 0;
}

.publishing-date {
    font-size: 75%;
    font-style: italic;
}


/*----- ARTICLE DISPLAY ----- */


.article-display figure {
    width: 30%;
    display: inline-block;
}

.article-display figcaption {
    float: right;
    width: 70%;
}

.article-display p,
.article-display h3 {
    margin-left: 5%;
}

/*----- CONTACT ----- */

.contact-info {
    font-size: 130%;
    margin-bottom: 4%;
}

.contact-form {
    width: 60%;
    font-size: 140%;
}

.contact-form label {
    font-size: 120%;
}

input[type=email],
input[type=text],
input[type=tel],
textarea {
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 3%;
}

input[type=email],
input[type=text],
input[type=tel] {
    width: 40%;
    padding: 7px;
}

textarea {
    width: 50%;
    height: 10em;
}

input[type=submit] {
    font-size: 150%;
}


/*----- ABOUT -----*/
.about-us {
    width: 60%;
    line-height: 150%;
}



/*
===============
    FOOTER
===============
*/

footer {
    margin: auto auto;
    background-color: #595959;
    padding: 3% 0;
    width: 100%;
    color: #c5c5c5;
}

footer p {
    text-align: center;    
}

.footer-links {
    width: 80%;
    margin: 0 auto;
}

footer nav li {
    padding: 0 5px;
}

.footer-nav,
.social-nav {
    display: inline-block;
}

.social-nav {
    float: right;
}

.social-nav li i {
    font-size: 150%;
}

.footer-nav li a,
.social-nav li i {
  transition: color 0.3s;  
}

.footer-nav li a:active,
.footer-nav li a:hover {
    color: #fff;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: #4367b1;
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
    color: #1dcaff;
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
    color: #8a3ab9;
}



